
.flex-grid {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.flex-grid-item {
    transition: 120ms;
	padding: 10px;
	flex-grow: 1;
	min-width: 240px;
	max-width: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-grid-item:hover {
    transition: 120ms;
    transform: scale(1.03)
}

.flex-grid-item app-pokemon-card-item {
	width: 100%;
}
